*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/assets
**/drawable
**/values
*.webp
*.xml
*.png
app/src/main/java/com/example/astrohelper/DatabaseInitializer.kt